@media (max-width: 900px) {
    #page-home{
        background-position-x:70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    #page-home main a {
        align-self: center;
    }

    #page-search cards{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    #page-home main {
        flex: 0;
        margin-top: 40px;
    }

    #page-home main h1{
        font-size: 36px;
    }
}