
@media (max-width: 380px) {
  #modal form .field{
      flex-direction: column;
      align-items: center;
  }

  #modal form input {
      flex: none;
      width: 100%;
      height: 72px;
      border-radius: 10px;
  }

  #modal form button {
      width: 100%;
      margin-top: 20px;
      border-radius: 10px;
  }
}