@media (max-width: 768px) {
    #page-search main .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 620px) {
    body::after{
        position: absolute;
        height: 60rem;
    }

    #page-search header {
        flex-direction: column-reverse;
    }

    #page-search header a {
        margin-left: auto;
        margin-bottom: 40px;
    }

    #page-search button {
        margin: 40px auto 40px;
    }

    #page-search main {
        margin: 20px;
    }
}

@media (max-width: 480px){
    #page-search main .cards {
        grid-template-columns: 1fr;
        gap: 60px;
    }

   
}